
#heading{
    text-align: center;
    width: 100%;

}
#div1{
    border: 3px solid black;
    background-color:gray;
    width: 30%;
    padding: 0px 0px 10px 10px;
    margin: 20px;
    display: inline-block;
    
}
#span1{
    border: 3px solid black;
    background-color: pink;
    float: right;
    padding: 1px 10px;
    border-top: 0ch;
    border-right: 0ch;
    padding-right: 30px;
    padding-left: 30px;

}
#div2{
    border: 3px solid black;
    background-color:gray;
    width: 30%;
    margin: 20px;
    padding: 0px 0px 10px 10px;
    display: inline-block;
}
#span2{
    border: 3px solid black;
    background-color:rgb(182, 15, 15);
    float: right;
    padding: 1px 10px;
    border-top: 0ch;
    border-right: 0ch;
    padding-right: 40px;
    padding-left: 40px;
 
}
#div3{
    border: 3px solid black;
    background-color:gray;
    width: 30%;
    margin: 20px;
    padding: 0px 0px 10px 10px;
    display: inline-block;
}
#span3{
    border: 3px solid black;
    background-color: rgb(243, 206, 138);
    float: right;
    padding: 1px 10px;
    border-top: 0ch;
    border-right: 0ch;
    padding-right: 40px;
    padding-left: 40px;
  
}
@media screen and (min-width: 992px) {
    #div{
        border: 1px solid white;
        position: relative;
        
    }
    #div1{
        width: 30%;
        display: inline-block;
        position: absolute;
        top: 100px;
    }
    #div2{
        width: 30%;
        display: inline-block;
        position: absolute;
        top: 100px;
        left: 450px;
    }
    #div3{
        width: 30%;
        display: inline-block;
        position:absolute;
        top: 100px;
        left: 900px;
    }
}
@media screen and (max-width: 991px) and (min-width:786px)
{
    #tablet{
        display: flex;
    }
    #div1{
        width: 50%;
    }
    #div2{
        width: 50%;
    }
    #div3{
        width: 1000px;
    }
}
@media screen and (max-width:767px) {
    #div1{
        width: 100%;
    }
    #div2{
        width: 100%;
    }
    #div3{
        width: 100%;
    }
    
}